package main

templ Button(label string) {
    <button>{label}</button>
}

templ Greeting(who string) {
  <h1>Hello, {who}!</h1>
}

templ Index() {
    <html>
        <head>
            <title>My Project</title>
            <script src="fncmp.min.js"></script>
        </head>
        <body>
            <main></main>
        </body> 
    </html>
}